body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicess {
    text-align: left ;
    padding-left: 90px;
  }
  
  .servicess button {
    margin-top: 50px;
    padding-left: 10px;
    width: 130px;
    border-radius: 10px;
    border: none;
    font-size: 40px;
  }
  
  .servicess button:hover {
    background-color: #A9907E;
    border: 2px solid white;
    color: #675D50 ;
  }